.mobileMenu {
  width: calc(100% - 100px);
  top: 0;
  left: 5%;
  position: fixed;
  padding: 0;
  border-top: 0;
  height: 100vh;
  border-right: 1px solid #e9e9e9;
  background-color: #ffffff;
  -webkit-transform: scaleX(1.1);
      -ms-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 100;
  .mobileLogo {
    min-height: 5.09375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
  }
}
.mobileMenuBody {
  background-color: #ffffff;
  border-top: 0;
  border-bottom: 0;
  padding: 0 20px;
  overflow: hidden;
}
.mobileNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  .item {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: auto;
    padding: 1rem 0 0.84375rem;
    border-bottom: 1px solid #e9e9e9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media only screen and (max-width: 480px) {
      display: block;
    }

    &:hover {
      .dropdown {
        display: block;
      }
    }

    img {
      margin-left: 5px;
    }
  }
  &:hover {
    .dropdownMenu {
      display: block !important;
    }
  }
  .dropdownMenu {
    left: 0;
    top: 0;
    position: relative;
    display: none;

    .dropdown {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;

      @media only screen and (max-width: 480px) {
        position: relative;
        padding-top: 10px;
        display: none;
      }
    }
    .list {
      list-style: none;
      width: 80%;
      border-bottom: 1px solid #e9e9e9;
      &:last-child {
        border-bottom: 0px solid #e9e9e9;
      }
      padding: 20px;

      @media only screen and (max-width: 480px) {
        padding: 10px 20px;
      }

      .submenuList {
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 13px;
        color: #000000;
        &:hover {
          color: #969696;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .mobileMenu {
    display: none;
  }
}
